body {
  margin: 0 auto;
  background: linear-gradient(to right, #e8cbc0, #636fa4); 
  color: #494d4e;
  font-family: 'Source Code Pro', monospace;
}


* {
  outline: none !important;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  color: #330033;
  opacity: 0.7;
}

h2 {
  margin-top: 15px;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

.win_in {
  margin: 40px auto;
  max-width: 700px;
}

#input_in {
  margin-top: 30px;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  font-size: 16px;
  background-color: #330033;
  color: #fff;
  opacity: 0.6;
  resize: none;
}

.buttons {
  margin-top: 12px;
  margin-right: 20px;
  display: flex;

}

.btn1 {
  margin-left: 400px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 140px;
  height: 27px;
  background-color: #fff;
  color: #330033;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn2 {
  margin-left: 25px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  width: 140px;
  height: 27px;
  background-color: #fff;
  color: #330033;
  font-family: 'Source Code Pro', monospace;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

button:active {
  border: 1px solid #330033;
}

.win_out {
  margin-top: 30px;
  padding: 15px 15px;
  width: 100%;
  background-color: #330033;
  border-radius: 5px;
  color: #fff;
  opacity: 0.6;
}

hr {
  width: 85%;
  margin-top: 60px;
  border: none;
  background-color: #494d4e;
  height: 1px;
}

/*==============   Media   =================*/

@media (max-width: 760px) {

  .button:hover {border: none !important;
  }

  .win_in {
    margin-top: 15px;
    max-width: 90%;
  }

  #input_in {
    margin-top: 20px;
    height: 150px;
  }

  .win_out {
    width: 100%;
  }
  .btn1 {
    margin-left: 60%;
    height: 25px;
    width: 120px;
    font-size: 10px;
  }

  .btn2 {
    height: 25px;
    width: 120px;
    font-size: 10px;
  }

  hr {
    margin-top: 20px;
  }

}

@media (max-width: 450px) {
  h1 {
    font-size: 30px;
    line-height: 1.1;
  }

  h2 {
    margin-top: 10px;
    font-size: 20px;
    line-height: 1.1;
  }

  .win_in {
    max-width: 85%;
  }

  #input_in {
    margin-top: 20px;
    padding: 5px 7px;
    height: 130px;
  }

  .win_out {
    margin-top: 15px;
    padding: 10px 10px;
    width: 100%;
  }

  .buttons {
    margin-top: 8px;
  }

  .btn1 {
    margin-left: 20%;
    height: 20px;
    width: 100px;
    font-size: 8px;
  }

  .btn2 {
    height: 20px;
    width: 100px;
    font-size: 8px;
  }

  hr {
    margin-top: 40px;
  }
}

/*    

    #494d4e
    #330033


    background: linear-gradient(to right, #c9d6ff, #e2e2e2);


   button:hover {
   border: 1px solid #330033;
} 


*/